body{
    display: flex;
    align-items: center;
    background-color: #FCD597;
}
h1 {
    font-family: Helvetica;
}
.menu{
   color: #FCC08D;
   border: solid 5px;
   margin: 10px 100px 10px 100px;
}