body{
    background-color: #FCD597;
}
h1 {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    justify-content: center;
}

p{
   display: flex;
   justify-content: center;
}
.menu{
   display: flex;
   justify-content: center;
   color: #FCC08D;
   border: solid 5px;
   margin: 10px 100px 10px 100px;
}